<div class="modal-header">
    <h4 class="modal-title">My Gardens</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="height: 265px; width: 100%;overflow-y: auto;">
    <!-- <p>Hello, {{name}}!</p> -->
    <div style="max-height:290px;">
    <button style="width: 20%; height: 45%;background: rgba(255, 255, 255, 0.911); text-align: center;"><img src="src\assets\site-images\plus.png" style="height:30%; width:20%;margin: 10%; margin-bottom: 5%;"><p>New Garden Project</p></button>

    <button *ngFor="let garden of gardens" style="width: 20%; height: 45%;background: rgba(255, 255, 255, 0.911); text-align: center;"><img src="src\assets\site-images\image_placeholder.png" style="height:20%; width:50%;margin-top: 2%"><div class="button_text"><p>{{garden.name}}</p></div></button>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>