<div class="modal-header">
    <h4 class="modal-title">My Gardens</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="height: 300px;">
    <!-- <p>Hello, {{name}}!</p> -->
    <button style="width: 20%; height: 45%;background: lightgray; text-align: center;"><img src="src\assets\site-images\plus.png" style="height:50%; width:45%;margin: 10%; margin-bottom: 5%;"><p>New Garden Project</p></button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>