div.button_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lengthError {
    color: red;
}

#uniqueNameError {
    color: red;
}

#NameGardenModal {
    max-width: 60%;
    max-height: 60%;
}