<div class="row my-1">
  <div class="col-sm">
    <button class="btn btn-outline-danger dropdown-toggle" id="bloomSeason" data-toggle="dropdown">Bloom Season</button>
    <div class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="springCheck" /> Spring</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="summerCheck" /> Summer</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="fallCheck" /> Fall</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="winterCheck" /> Winter</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
    </div>
  </div>

  <div class="col-sm">
    <button class="btn btn-outline-danger dropdown-toggle" id="region" data-toggle="dropdown">Region</button>
    <div class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="mountainsCheck" /> Mountains</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="piedmontCheck" /> Piedmont</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="coastCheck" /> Coast</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
    </div>
  </div>

  <div class="col-sm">
    <button class="btn btn-outline-danger dropdown-toggle" id="bloomSeason" data-toggle="dropdown">Color</button>
    <div class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="redCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: red; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="orangeCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: orange; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="yellowCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: yellow; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="greenCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: green; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="blueCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: blue; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="indigoCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: indigo; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input style="vertical-align: middle" type="checkbox" id="violetCheck" />&nbsp;&nbsp;<div class="square" style="display: inline-block; background: violet; vertical-align: middle"></div></label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
    </div>
  </div>

  <div class="col-sm">
    <button class="btn btn-outline-danger dropdown-toggle" id="type" data-toggle="dropdown">Type</button>
    <div class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="vineCheck" /> Vine</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="shrubCheck" /> Shrub</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="perennialCheck" /> Perennial</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="annualCheck" /> Annual</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-4">
    <button class="btn btn-outline-danger dropdown-toggle" id="soil" data-toggle="dropdown">Soil</button>
    <div class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="wetCheck" /> Wet</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="moistCheck" /> Moist</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
      <div class="dropdown-item pr-0">
        <label class="w-100 my-0"><input class="" type="checkbox" id="dryCheck" /> Dry</label>
        <!-- <label class="form-check-label" for="springCheck">Spring</label> -->
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <button class="btn btn-outline-danger dropdown-toggle" id="height" data-toggle="dropdown">Height</button>
    <div class="dropdown-menu" (click)="$event.stopPropagation()">
      <div class="dropdown-item">
        <input type="text" /> ft. - <input type="text"> ft.
    </div>
  </div>
</div>

<div style="display:block">
  <!-- can just use a ngFor all images and populate the bar -->
  <img src="https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/peony-sarah-bernhardt-bloom-500_b572106d.jpg"
    style="width: 50%">
  <img src="https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/peony-sarah-bernhardt-bloom-500_b572106d.jpg"
    style="width: 50%">
  <img src="https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/peony-sarah-bernhardt-bloom-500_b572106d.jpg"
    style="width: 50%">
</div>