.top-down {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.side-view {
  background: url('../../../assets/images/Side_View_Background.jpg');
}
