<div class="container">
  <div class="logo">
    NCSU
  </div>
  <div class="mygardens">
    <span>
      <app-my-gardens></app-my-gardens>
      <a class="px-4" routerLink="" style="color: white;">Logout</a>
    </span>
  </div>

  <div class="search" style="background: mediumseagreen">
    <label style="padding-left: 5%; padding-right: 15%; display: inline;">Plants</label>
    <input class="form-control" style="width: 50%; display: inline; height: 90%; margin-top: .5%;" type="text"
      placeholder="Search">
  </div>
  <div class="plantlist">
    <div ngbDropdown autoClose='outside' class="d-inline-block">
      <button class="btn btn-outline-danger dropdown-toggle" id="bloomSeason" ngbDropdownToggle>Bloom Season</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item"><input type="checkbox" itemid="spring" />Spring</button>
        <button class="dropdown-item"><input type="checkbox" itemid="summer" />Summer</button>
        <button class="dropdown-item"><input type="checkbox" itemid="fall" />Fall</button>
        <button class="dropdown-item"><input type="checkbox" itemid="winter" />Winter</button>
      </div>
    </div>
    <div ngbDropdown autoClose='outside' class="d-inline-block">
      <button class="btn btn-outline-danger dropdown-toggle" id="bloomSeason" ngbDropdownToggle>Height</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item"><input type="text" /> - <input type="text"> </button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-danger dropdown-toggle" id="height" ngbDropdownToggle>Color</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">
          <div class="square" style="background: red;"></div>
        </button>
        <button class="dropdown-item">
          <div class="square" style="background: orange;"></div>
        </button>
        <button class="dropdown-item">
          <div class="square" style="background: yellow;"></div>
        </button>
        <button class="dropdown-item">
          <div class="square" style="background: green;"></div>
        </button>
        <button class="dropdown-item">
          <div class="square" style="background: blue;"></div>
        </button>
        <button class="dropdown-item">
          <div class="square" style="background: indigo;"></div>
        </button>
        <button class="dropdown-item">
          <div class="square" style="background: violet;"></div>
        </button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-danger dropdown-toggle" id="height" ngbDropdownToggle>Type</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">Vine</button>
        <button class="dropdown-item">Shrub</button>
        <button class="dropdown-item">Perennial</button>
        <button class="dropdown-item">Annual</button>
      </div>
    </div>
    <div ngbDropdown autoClose="outside" class="d-inline-block">
      <button class="btn btn-outline-danger dropdown-toggle" id="height" ngbDropdownToggle>Soil</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item"><input type="checkbox" itemid="wet" />Wet</button>
        <button class="dropdown-item"><input type="checkbox" itemid="moist" />Moist</button>
        <button class="dropdown-item"><input type="checkbox" itemid="dry" />Dry</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-danger dropdown-toggle" id="height" ngbDropdownToggle>Region</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">Mountains</button>
        <button class="dropdown-item">Native</button>
        <button class="dropdown-item">Non-Native</button>
      </div>
    </div>

    <div style="display:block">
      <!-- can just use a ngFor all images and populate the bar -->
      <img src="https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/peony-sarah-bernhardt-bloom-500_b572106d.jpg"
        style="width: 50%">
      <img src="https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/peony-sarah-bernhardt-bloom-500_b572106d.jpg"
        style="width: 50%">
      <img src="https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/peony-sarah-bernhardt-bloom-500_b572106d.jpg"
        style="width: 50%">
    </div>
  </div>
  <div class="filter">
    <label class="mr-1"> Garden Options</label>
    <div class="mr-5" style="display: inline;">
      <button type="button" class="btn mdi mdi-circle-outline filterButton"></button>
      <button type="button" class="btn mdi mdi-square-outline filterButton"></button>
      <button type="button" class="btn mdi mdi-brush filterButton"></button>
      <button type="button" class="btn mdi mdi-palette filterButton mr-5" style="color: brown;"></button>
    </div>

    <label class="ml-5 mr-1"> Season </label>
    <div style="display: inline;">
      <button type="button" class="btn mdi mdi-snowflake filterButton" style="color: blue; outline: firebrick;"></button>
      <button type="button" class="btn mdi mdi-leaf filterButton" style="color: green;"></button>
      <button type="button" class="btn mdi mdi-weather-sunny filterButton" style="color: orange;"></button>
      <button type="button" class="btn mdi mdi-weather-windy filterButton" style="color: brown;"></button>
    </div>

    <div class="mr-4" style="display: inline; float: right; height: 100%;">
    <button type="button" class="btn mdi mdi-content-save-outline filterButton" style="color: lightblue;"></button>
    <button type="button" class="btn mdi mdi-cube-outline filterButton"></button>
    <button type="button" class="btn mdi mdi-check-outline filterButton" style="color: greenyellow;"></button>
    <button type="button" class="btn mdi mdi-format-list-bulleted filterButton" (click)="goToShoppingList()"></button>
    </div>
  </div>

  <div class="canvas" id="canvasContainer">
    <canvas #canvasEl id="canvas" style="width: 100%; height: 100%;"></canvas>
  </div>
</div>