<label class="mr-1"> Garden Options</label>
<div class="mr-5" style="display: inline;">
  <button type="button" class="btn mdi mdi-circle-outline filterButton" style="background: transparent" id="circleButton" (click)="toggleCircleGarden()"></button>
  <button type="button" class="btn mdi mdi-square-outline filterButton" style="background: transparent" id="squareButton" (click)="toggleSquareGarden()"></button>
  <button type="button" class="btn mdi mdi-vector-radius filterButton" style="background: transparent" id="curveButton" (click)="toggleCurvedLine()"></button>
  <button type="button" class="btn mdi mdi-brush filterButton"></button>
  <button type="button" class="btn mdi mdi-palette filterButton" style="color: brown;" id="paletteButton" (click)="togglePaletteButton()"></button>
  <button type="button" class="btn mdi mdi-eraser filterButton mr-5" style="color: pink"></button>
  <!-- <button type="button" class="btn mdi mdi-border-none-variant filterButton mr-5"></button>
  <button type="button" class="btn mdi mdi-cursor-default-outline filterButton mr-5"></button> -->
</div>

<label class="ml-5 mr-1"> Season </label>
<div style="display: inline;">
  <button type="button" class="btn mdi mdi-snowflake filterButton" style="color: blue; outline: firebrick;"></button>
  <button type="button" class="btn mdi mdi-leaf filterButton" style="color: green;"></button>
  <button type="button" class="btn mdi mdi-weather-sunny filterButton" style="color: orange;"></button>
  <button type="button" class="btn mdi mdi-weather-windy filterButton" style="color: brown;"></button>
</div>

<div class="" style="display: inline; float: right; height: 100%;">
  <button type="button" class="btn mdi mdi-content-save-outline filterButton" style="color: lightblue;"></button>
  <button title="Change Perspective" type="button" class="btn mdi mdi-cube-outline filterButton" (click)="perspectiveChange()"></button>
  <button type="button" class="btn mdi mdi-check-outline filterButton" style="color: greenyellow;"></button>
  <button type="button" class="btn mdi mdi-format-list-bulleted filterButton" (click)="goToShoppingList()"></button>
</div>
